<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block header-content %}
    {% endblock header-content %}
</head>
<body>
    {% block content %}
    {% endblock content %}
    
</body>
<foot>
    {% block foot-content %}
    {% endblock foot-content %}
</foot>
</html>