{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block header-content%}
    <link rel="stylesheet" href="{% static 'styles/calendar.css' %}">
    <script src={% static 'scripts/calendar.js' %}></script>
{% endblock header-content%}


{% block content %}

<h1>Calendar</h1>
<table>
    <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>Th</th>
        <th>F</th>
        <th>Sa</th>
        <th>Su</th>
    </tr>
    {% for y in 5|range %}
        <tr>
            {% for x in 7|range %}
                {% with x|join:y as xy %}
                    <td>{{today|get_cal_num:xy}}</td>
                {% endwith %}
            {% endfor %}
        </tr>
    
    {% endfor %}
</table>


{% endblock content %}

{% block foot-content %}
<div id="navigation">
    <span>
        <a href = "/">go to home</a>
        <br>
        <a href = "/todo">go to todo list</a>
        <br>
        <a href = "/habits">go to habit tracker</a>
        <!-- <br>
        <a href = "/cal">go to calendar</a> -->
    </span>
</div>
{% endblock foot-content %}