{% extends 'base.html' %}
{% load custom_tags %}

{% block header-content%}

{% endblock header-content%}


{% block content %}
    <h1>Habit Tracker</h1>
    <form action="/api/new-habit" method="POST">
        {% csrf_token %}
        <input type="hidden" name="access" value="{{access}}">
        <input type="text" name="name" id="name">
        <input type="submit" value="Submit">
    </form>
    <table>
        <!--Header row-->
        <tr>
            <th></th>
            {% for day in days|reversed %}
                <th>{{day.month}}/{{day.day}}</th>
            {% endfor %}
        </tr>
    
        {% for habit in habits %}
        <tr>
            <td>{{habit.name}}</td>
            {% for day in days|reversed %}
            <td>
                {% if habit|contains_date:day %}
                    <form action="/api/remove_date" method="POST">
                        <input type="submit" value="✅">
                {% else %}
                    <form action="/api/add_date" method="POST">
                        <input type="submit" value=" ">
                {% endif %}
                        {% csrf_token %}
                        <input type="hidden" name="day" value={{day|parse_date}}>
                        <input type="hidden" name="habit" value={{habit.id}}>
                    </form>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    
    
    </table>
    
{% endblock content %}

{% block foot-content %}
<div id="navigation">
    <span>
        <a href = "/">go to home</a>
        <br>
        <a href = "/todo">go to todo list</a>
        <br>
        <!-- <a href = "/habits">go to habit tracker</a>
        <br> -->
        <a href = "/cal">go to calendar</a>
    </span>
</div>
{% endblock foot-content %}