{% extends 'base.html' %}

{% block header-content%}

{% endblock header-content%}

{% block content %}

{% if not access_token %}
    <div class="link" id="signup">
        <a href="/signup">Sign Up</a>
    </div>
    <div class="link" id="login">
        <a href="/login">Login</a>
    </div>

{% else %}

    <div class="link" id="todo">
        <a href="/todo">To do list</a>
    </div>
    
    <div class="link" id="cal">
        <a href="/cal">Calendar</a>
    </div>
    
    <div class="link" id="habits">
        <a href="/habits">Habit tracker</a>
    </div>

    <div class="signout">
        <a href="/api/signout">Sign Out</a>
    </div>
    



{% endif %}
{% endblock %}

{% block foot-content %}

{% endblock foot-content %}
