{% extends 'base.html' %}

{% block header-content%}
<h1> Welcome to your personal to-do list! </h1>
{% endblock header-content%}


{% block content %}
<!-- form for adding new item to to-do list -->
<div id="add-todo-form">
    <form action="/api/new_todo_item" method="POST">
        {% csrf_token %}
        <input type="text" name="task_name" id="task_name" placeholder="Enter new task...">
        <button type="submit">+</button>
    </form>
</div>
<div id="display-list">
    {% for task in tasks %}
        <span>
            {{task.task_text}}
        </span>
    {% endfor %}
</div>


{% endblock content %}