/* wdexplorer.com/20-examples-beautiful-css-typography-design/ */

:root{
    --site-blue-1: #D4EDED;
    --site-blue-2: #A8DCD8;
    --site-blue-3: #60BEB8;
    --site-blue-4: #35827D;
    --site-blue-5: #122B2B;
}

h1 { color: --site-blue-2; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold;  text-align: center; }


h2 { color: --site-blue-5; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: 300; text-align: center; }


p { color: --site-blue-4; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; text-align: center; text-justify: inter-word; }

body{
    color: --site-blue-5; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; font-weight: 300;  text-align: center;
    background-color: var(--site-blue-1);
}

.checkbox {
    border-style: dashed
}

foot {
    font-size: medium;
}

/* No bullet points on list */
ol { 
    list-style:none;
}

.task_complete {
    font-family: 'Helvetica Neue';
    border-style: none;
    background-color: transparent;
}

button {
    border-style: none;
    color: var(--site-blue-5);
    background-color: transparent;
    color: --site-blue-2; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold;  text-align: center;
}

table {
    font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold;  text-align: center;
}

th {
    font-family: 'Helvetica Neue', sans-serif; font-size: 20px; font-weight: bold;  text-align: center;
}


form {
    vertical-align: middle;
}

#done-task {
    color:gray
}

#undone-task {
    color:#122B2B
}