.task{
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-submit{
    margin: 0 16px 0 4px;
    border-style: none;
    background-color: transparent;
}

.todo-submit:hover{
    cursor: pointer;
    color: white;
}

h1{
    margin: 0;
}

p{
    margin: 12px 0px;
}